# Node build artifacts
node_modules
npm-debug.log
build
package-lock.json

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Sublime
wheresbabyberk.sublime-project
wheresbabyberk.sublime-workspace