.jumbotron {
  background: #ffdc00;
  color: white;
  text-shadow: 0px 0px 2px black;
  padding: 10px; }
  .jumbotron .btn-primary {
    background: #aded00;
    border-color: #a1dd00; }
    .jumbotron .btn-primary:hover {
      background: #a3e000; }
  .jumbotron p {
    max-width: 75%;
    margin: 1em auto 2em;
    font-weight: bold; }

.header {
  background: #ffdc00;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/*
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
*/
