.jumbotron {
  background: #ffdc00;
  color: black; }
  .jumbotron .btn-primary {
    background: #aded00;
    border-color: #a1dd00; }
    .jumbotron .btn-primary:hover {
      background: #a3e000; }