html, body {
  height: 100%;
}

.jumbotron {
  background: #e9923e;
  color: white;
  margin-bottom: 1em;
}

.tweets {
  background: white;
 }

.bb-title {
  padding: 0;
  margin: 0;
}

.menu-text {
  margin-top: 0;
  margin-bottom: 2em;
}

.extra-space {
  padding: 5px 10px 15px 10px;
 }

.wrapper {
  min-height: 100%;
  width: 100% ;
  height: 100%;
  display: table;
  background: #98d100;
  color: white;
 }

.wrapper-inner {
  display: table-cell;
  vertical-align: middle;
 }

.cover-container {
  margin-right: auto;
  margin-left: auto;
 }

.cover {
  padding: 0 1.5rem;
}

.cover-title {
  font-size: 2.5em;
}

.about {
  padding: 0 1em;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .cover-title {
    font-size: 4em;
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 60rem;
  }
}