<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <div class="wrapper">

      <div class="wrapper-inner">

        <div class="cover-container">

          <div class="cover">
            <h1 class="text-center cover-title">Coming soon to UMass in Fall 2017!</h1>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>