<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="header">
<div class="container jumbotron text-center">
  <div class="container">
    <h1>Where's BabyBerk?</h1>
    <p>Your one stop for finding the best food trunks at UMass.</p>
  </div>
</div>
</div>
<div class="container">
  <div class="col-md-6">
    <h3 class="text-center">BabyBerk 1</h3>
    <p class="text-center">Content</p>
    <a class="twitter-timeline" data-height="400" data-dnt="true" href="https://twitter.com/UMassBabyBerk">Tweets by UMassBabyBerk</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">BabyBerk 2</h3>
    <p class="text-center">Content</p>
    <a class="twitter-timeline" data-height="400" data-dnt="true" href="https://twitter.com/https://twitter.com/UMassBabyBerk2">Tweets by https://twitter.com/UMassBabyBerk2</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> 
</div>


</body>
</html>
