<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>Menus</h1>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <h3>BabyBerk 1</h3>

        <img class="img-responsive" src="../../images/bb1menu.jpg" alt="BabyBerk 1 Menu">

        <h3>BabyBerk 2</h3>

        <img class="img-responsive" src="../../images/bb2menu.jpg" alt="BabyBerk 2 Menu">
      </div>

      <div class="row">
        <hr>

        <footer>
          <p>Developed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Christopher Rybicki. 2017</p>
        </footer>
      </div>
    </div>

  </body>
</html>